{{ ansible_managed | comment }}
[Unit]
Description=Prometheus Systemd Exporter
Documentation=https://github.com/povilasv/systemd_exporter
After=network-online.target
StartLimitInterval=0

[Service]
Type=simple
User={{ systemd_exporter_system_user }}
Group={{ systemd_exporter_system_group }}
ExecReload=/bin/kill -HUP $MAINPID
ExecStart={{ systemd_exporter_binary_install_dir }}/systemd_exporter \
  --web.listen-address '{{ systemd_exporter_web_listen_address }}:{{ systemd_exporter_web_listen_port }}' \
  --log.level '{{ systemd_exporter_log_level }}' \
  --log.format '{{ systemd_exporter_log_format }}' \
{% if systemd_exporter_collector_unit_whitelist|length > 0 %}
  --collector.unit-whitelist "{{ systemd_exporter_collector_unit_whitelist }}" \
{% endif %}
{% if systemd_exporter_collector_unit_blacklist|length > 0 %}
  --collector.unit-blacklist "{{ systemd_exporter_collector_unit_blacklist }}" \
  {% endif %}
{% if systemd_exporter_collector_private|default('',false) is sameas true %}
  --collector.private \
{% endif %}
{% if systemd_exporter_ccollector_user|default('',false) is sameas true %}
  --collector.user \
{% endif %}
{% if systemd_exporter_ccollector_enable_restart_count|default('',false) is sameas true %}
  --collector.enable-restart-count \
{% endif %}
{% if systemd_exporter_ccollector_enable_file_descriptor_size|default('',false) is sameas true %}
  --collector.enable-file-descriptor-size \
{% endif %}
{% if systemd_exporter_ccollector_enable_ip_accounting|default('',false) is sameas true %}
  --collector.enable-ip-accounting \
{% endif %}
  --web.disable-exporter-metrics
KillMode=process
SyslogIdentifier=systemd_exporter
Restart=always
RestartSec=30
PrivateTmp=yes
{% for m in ansible_mounts if m.mount == '/home' %}
ProtectHome=read-only
{% else %}
ProtectHome=yes
{% endfor %}
NoNewPrivileges=yes

[Install]
WantedBy=multi-user.target