{{ ansible_managed | comment }}
[Unit]
Description=Run Textfile Collector {{ item.src | basename }}

[Service]
User={{ item.user | default("root") }}
ExecStart=/bin/sh -c '\
  TEMP=$(mktemp -q) && \
  {{ node_exporter_binary_install_dir }}/textfile_collector_{{ item.src | basename }} {% if item.params is defined %}{{ item.params }}{% endif %} > $TEMP && \
  mv $TEMP {{ node_exporter_textfile_dir }}/{{ item.src | basename }}.prom && \
  chown {{ node_exporter_system_user }}:{{ node_exporter_system_group }} {{ node_exporter_textfile_dir }}/{{ item.src | basename }}.prom && \
  chmod 644 {{ node_exporter_textfile_dir }}/{{ item.src | basename }}.prom'