{{ ansible_managed | comment }}
[Unit]
Description=Textfile Collector {{ item.src | basename }} timer

[Timer]
Unit=textfile-collector-{{ item.src | basename }}.service
{% if item.calendar is defined %}
OnCalendar={{ item.calendar }}
{% endif %}
{% if item.boot_sec is defined %}
OnBootSec={{ item.boot_sec }}
{% endif %}
{% if item.active_sec is defined %}
OnActiveSec={{ item.active_sec }}
{% endif %}
{% if item.startup_sec is defined %}
OnStartupSec={{ item.startup_sec }}
{% endif %}
{% if item.unit_active_sec is defined %}
OnUnitActiveSec={{ item.unit_active_sec }}
{% endif %}
{% if item.unit_inactive_sec is defined %}
OnUnitInactiveSec={{ item.unit_inactive_sec }}
{% endif %}

[Install]
WantedBy=multi-user.target
