#jinja2: trim_blocks: True, lstrip_blocks: True
{{ ansible_managed | comment }}

global:
  resolve_timeout: {{ alertmanager_resolve_timeout | quote}}
{% for key, value in alertmanager_smtp.items() %}
  smtp_{{ key }}: {{ value | quote }}
{% endfor %}

time_intervals:
{{ alertmanager_time_intervals | to_nice_yaml(indent=2,sort_keys=False) | indent(2, False) }}
{% if alertmanager_inhibit_rules | length > 0 %}
inhibit_rules:
{{ alertmanager_inhibit_rules | to_nice_yaml(indent=2,sort_keys=False) | indent(2, False) }}
{% endif %}
templates:
- '{{ alertmanager_config_dir }}/templates/*.tmpl'

receivers:
- name: blackhole
{# STANDARD RECEIVERS #}
{% set receivers = alertmanager_routes | selectattr('config','defined') %}{% for receiver in receivers %}
- name: {{ receiver.receiver }}
  {{ receiver.config  | to_nice_yaml(indent=2,sort_keys=False) | indent(2) }}
{%- endfor %}
{# GLOBAL TICKET #}
{% set receivers = alertmanager_routes | selectattr('global_config','defined') -%}
{% for receiver in receivers %}
- name: {{ receiver.receiver }}
  webhook_configs:
  - url: http://localhost:9099/alert
    send_resolved: true
{% endfor %}

route:
  {{ alertmanager_route | to_nice_yaml(indent=2,sort_keys=False) | indent(2, False) }}
  routes:
  {% set receivers = alertmanager_routes | selectattr('routes','defined') %}{% for receiver in receivers %}{% for route in receiver.routes %}
  - receiver: {{ receiver.receiver }}
    {{ route | to_nice_yaml(indent=2, sort_keys=False) | indent(4, False) }}
  {%- endfor %}{%- endfor %}
