{{ ansible_managed | comment }}
[Unit]
Description=Grafana Promtail
Documentation=https://github.com/grafana/loki
After=network-online.target

[Service]
Type=simple
User={{ promtail_system_user }}
Group={{ promtail_system_group }}
ExecStart={{ promtail_binary_install_dir }}/promtail -config.file {{ promtail_config_dir }}/{{ promtail_config_file }}
SyslogIdentifier=promtail
Restart=always
RestartSec=30
{% if promtail_add_network_capabilities %}
AmbientCapabilities=CAP_NET_BIND_SERVICE
CapabilityBoundingSet=CAP_NET_BIND_SERVICE
{% endif %}

[Install]
WantedBy=multi-user.target
