{{ ansible_managed | comment }}
[Unit]
Description=Grafana Agent
Documentation=https://github.com/grafana/agent
After=network-online.target

[Service]
Type=simple
User=grafana-agent
Environment=HOSTNAME=%H
WorkingDirectory=/var/lib/grafana-agent
ExecReload=/usr/bin/env kill -HUP $MAINPID
ExecStart=/usr/local/bin/grafana_agent \
  -config.file=/etc/grafana-agent.yaml \
  -server.http.address=127.0.0.1:9090 \
  -server.grpc.address=127.0.0.1:9091{% for flag, flag_value in grafana_agent_config_flags_extra.items() %} \
  -{{ flag }}={{ flag_value }}{% endfor %}

SyslogIdentifier=grafana_agent
Restart=always
RestartSec=30
TimeoutStopSec=15s
SendSIGKILL=no

[Install]
WantedBy=multi-user.target
